# Example
# https://github.com/kubeflow/examples/blob/master/.pylintrc

[MASTER]

disable=
    C0114,  # Missing module docstring (missing-module-docstring)
    C0115,  # Missing class docstring (missing-class-docstring)
    C0116,  # Missing function or method docstring (missing-function-docstring)
